<form [formGroup]="formModel" (ngSubmit)="onSearch()" novalidate>
	<div class="form-group" [class.has-error]="formModel.hasError('minlength', 'title')">
		<label for="productName">Product Name:</label>
		<input formControlName="title" type="text" id="productName" placeholder="Enter product name" class="form-control">
		<span class="help-block" [class.hidden]="!formModel.hasError('minlength','title')">Please enter at least 2 digits</span>
	</div>
	<div class="form-group" [class.has-error]="formModel.hasError('posNum', 'price')">
		<label for="productPrice">Product Price:</label>
		<input formControlName="price" type="number" id="productPrice" placeholder="Enter product price" class="form-control">
		<span class="help-block" [class.hidden]="!formModel.hasError('posNum','price')">Price should be a positive number</span>
	</div>
	<div class="form-group">
		<label for="productCate">Product Category:</label>
		<select formControlName="category" id="productCate" class="form-control">
			<option value="-1">All</option>
			<option *ngFor="let category of categories" [value]="category">{{category}}</option>
		</select>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-block">Search</button>
	</div>
</form>